@{
    ViewData["Title"] = "Create New Challenge";
}
<div class="text-center">
    <h1 class="display-4">Add New Challenge</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h6>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Home">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Challenge" asp-action="Manage">Challenges</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create New Challenge</li>
                </ol>
            </nav>
        </h6>
    </div>
</div>
<div class="col-lg-8 mx-auto mt-3">
    <div class="card">
        <div class="card-body">
            <h2 class="text-info">Challenge Information</h2>
            <form>
                <div class="form-group row">
                    <label for="tbImage" class="col-sm-2 col-form-label">Map Image</label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="tbImage">
                            <label id="lblFile" class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Hints</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control mb-2" placeholder="Hint #1" id="tbHint1" />
                        <input type="text" class="form-control mb-2" placeholder="Hint #2" id="tbHint2" />
                        <input type="text" class="form-control mb-2" placeholder="Hint #3" id="tbHint3" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tbSolution" class="col-sm-2 col-form-label">Solution</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tbSolution">
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="cbTutorial">
                    <label for="cbTutorial" class="form-check-label">Is tutorial Challenge?</label>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="Admin" id="btnBack" class="btn btn-success btn-block"><i class="fas fa-sign-out-alt"></i> Back</a>
                    </div>
                    <div class="col-md-6">
                        <span id="btnSubmit" class="btn btn-primary btn-block">Create</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>var CLOUDINARY_URL = "https://api.cloudinary.com/v1_1/dj6afbyih/image/upload";
    var CLOUDINARY_UPLOAD_PRESET = "gsdndegy";
    var currentFile = null;
    $(document).ready(function () {

        $("#tbImage").on("change", function (event) {
            currentFile = event.target.files[0];
            $("#lblFile").text($('input[type=file]').val().split('\\').pop());
        });

        $("#btnSubmit").click(function () {
            uploadToCloudinaryAndSubmit();
        });

        function submitForm(imageUri) {
            var hints = [];
            hints.push($("#tbHint1").val());
            hints.push($("#tbHint2").val());
            hints.push($("#tbHint3").val());

            function WebFormData(hints, imageUri, solution, istut) {
                this.Hints = hints;
                this.MapImageUrl = imageUri;
                this.Solution = solution;
                this.IsTutorialChallenge = istut;
                this.IsDeleted = false
            }
            var webFormData = new WebFormData(hints, imageUri, $("#tbSolution").val(), $('#cbTutorial').is(":checked"));

            var webFormDataInString = JSON.stringify(webFormData);

            console.log(webFormData);
            console.log(webFormDataInString);

            $.ajax({
                url: "/challenge/create",
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: webFormDataInString,
                success: function (response) {
                    location.replace('/Challenge/Manage');
                },
                error: function (error) { console.log(error); }
            });
        }

        function uploadToCloudinaryAndSubmit() {
            var formData = new FormData();
            formData.append("file", currentFile);
            formData.append("upload_preset", CLOUDINARY_UPLOAD_PRESET);

            $.ajax({
                url: CLOUDINARY_URL,
                type: "POST",
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    var imageUri = response["url"]; //Link of the uploaded image

                    submitForm(imageUri)
                },
                error: function (error) {
                    console.log(error);
                },
            });
        }
    });</script>