@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please select your role.</p>
</div>
<div class="d-inline col-sm-6">
    <a class="btn btn-primary btn-block" type="button" asp-area="" asp-controller="Admin" asp-action="Index">Facilitator</a>
</div>
<div class="d-inline col-sm-6">
    <a class="btn btn-primary btn-block" type="button" asp-area="" asp-controller="Student" asp-action="Index">Student</a>
</div>