@model Vraze.Models.WebFormDataModels.GameSessionFormDataModel
@{ ViewData["Title"] = "Update Game Session"; }


<div class="text-center">
    <h1 class="display-4">Update Game Session</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h6>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Home">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="GameSession" asp-action="Manage">Game Session</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Game Session</li>
                </ol>
            </nav>
        </h6>
    </div>
</div>
<div class="col-lg-8 mx-auto mt-3">
    <div class="card">
        <div class="card-body">
            <h2 class="text-info">Game Session Information</h2>
            <div id="errorMsgAlertBox" class="alert alert-warning alert-dismissible fade show d-none" role="alert">
                <span id="errorMsgAlert"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="form-group row">
                    <label class="col-md-3 form-label">Access Code</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="tbAccessCode" value="@Model.AccessCode" required>
                        <div id="tbAccessCodeFeedback" class="custom-feedback-msg"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-label">Challenges</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="tbChallengeList" value="@Model.ChallengeList" required>
                        <small id="challengeListHelp" class="form-text text-muted">Please separate each challenge ID by ';'.</small>
                        <div id="tbChallengeListFeedback" class="custom-feedback-msg"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-label">Student List</label>
                    <div class="col-sm-9">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Student Id</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="studentListTable">
                                @foreach (var student in Model.StudentList)
                                {
                                <tr class="studentRow">
                                    <td><input type="text" class="form-control tbStudentId" value="@student.StudentId" /></td>
                                    <td><input type="text" class="form-control tbStudentId" value="@student.Name" /></td>
                                    <td><span class="btn btn-danger btn-sm btnRemoveStudRow" onclick="RemoveStudentRow(this)">Remove</span></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <span class="btn btn-info btn-block" id="btnAddNewStudentRow">Add New Student</span>
                        <div id="tbStudentList">
                            <div id="tbStudentListFeedback" class="custom-feedback-msg"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="GameSession" id="btnBack" class="btn btn-success btn-block"><i class="fas fa-sign-out-alt"></i> Back</a>
                    </div>
                    <div class="col-md-6">
                        <button id="btnSubmit" class="btn btn-primary btn-block">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var accessCode = "";
    var challengeList = "";
    var studentList = [];

    function RemoveStudentRow(button) {
        console.log("button:", button);
        console.log("this:", $(this).parent());
        console.log("closest tr:", $(this).closest("tr"));
        $(button).parent().parent().remove();
    }
    $(document).ready(function () {
        $('#errorMsgAlertBox').addClass('d-none');
        $('#errorMsgAlert').text('');

        $("#btnAddNewStudentRow").click(function () {
            $('#studentListTable').append('<tr class="studentRow"><td><input type="text" class="form-control tbStudentId" placeholder="Student Id"/></td><td><input type="text" class="form-control tbStudentName" placeholder="Student Name"/></td><td><span class="btn btn-danger btn-sm btnRemoveStudRow" onclick="RemoveStudentRow(this)">Remove</span></td></tr>');
        });

        $('#btnSubmit').click(function (e) {
            e.preventDefault();
            SubmitForm();
        });

        function StudentClass(studId, studName)
        {
            this.StudentId = studId;
            this.Name = studName;
        }

        function ValidateForm() {
            var valid = true;

            accessCode = $("#tbAccessCode").val();
            challengeList = $("#tbChallengeList").val();
            studentList = [];
            var studentRows = $(".studentRow");
            console.log("rows:", studentRows);

            //Resets all feedback messages
            $(".custom-feedback-msg").text("");
            $(".custom-feedback-msg").removeClass("invalid-feedback");

            if (accessCode === "") {
                $("#tbAccessCode").addClass("is-invalid");
                $("#tbAccessCodeFeedback").addClass("invalid-feedback");
                $("#tbAccessCodeFeedback").text("Please do not leave this blank.");

                valid &= false;
            }
            else {
                valid &= true;
                $("#tbAccessCode").removeClass("is-invalid");
            }

            if (challengeList === "") {
                $("#tbChallengeList").addClass("is-invalid");
                $("#tbChallengeListFeedback").addClass("invalid-feedback");
                $("#tbChallengeListFeedback").text("Please do not leave this blank.");

                valid &= false;
            }
            else {
                valid &= true;
                $("#tbChallengeList").removeClass("is-invalid");
            }

            for (var row of studentRows)
            {
                console.log("current row:", row);
                console.log("stud id row", $(row).find('.tbStudentId'));
                var studentId = $(row).find('.tbStudentId').val();
                var studentName = $(row).find('.tbStudentName').val();

                console.log("username/password: ", studentId, studentName);

                if (studentId === "" || studentName === "") {
                    $("#tbStudentListFeedback").addClass("d-block");
                    $("#tbStudentListFeedback").addClass("invalid-feedback");
                    $("#tbStudentListFeedback").text("Please do not leave any fields blank.");

                    valid &= false;
                }
                else {
                    valid &= true;
                    $("#tbStudentListFeedback").removeClass("is-invalid");
                    $("#tbStudentListFeedback").removeClass("d-block");

                    var studentObj = new StudentClass(studentId, studentName);
                    studentList.push(studentObj);
                }
            }

            if (studentList.length == 0)
            {
                $("#tbStudentListFeedback").addClass("d-block");
                $("#tbStudentListFeedback").addClass("invalid-feedback");
                $("#tbStudentListFeedback").text("Please add at least one student.");

                valid &= false;
            }
            else {
                valid &= true;
                $("#tbStudentListFeedback").removeClass("is-invalid");
                $("#tbStudentListFeedback").removeClass("d-block");
            }

            return valid;
        }

        function SubmitForm() {
            if (ValidateForm()) {
                function WebFormData(code, challenges, studList) {
                    this.AccessCode = code;
                    this.ChallengeList = challenges;
                    this.StudentList = studList;
                }
                var webFormData = new WebFormData(accessCode, challengeList, studentList);

                var webFormDataInString = JSON.stringify(webFormData);

                //Sending the json to the /GameSession/Create API to add the game session into the database
                $.ajax({
                    url: "/GameSession/update/@ViewData["GameSessionId"].ToString()",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: webFormDataInString,
                    success: function (response) {
                        console.log(response);
                        if (response["status"] == 404) {
                            $('#errorMsgAlertBox').removeClass('d-none');
                            $("#errorMsgAlert").text(response["message"]);
                        }
                        else {
                            location.replace('/GameSession/Manage');
                        }
                    },
                    error: function (error) { console.log(error); }
                });
            }
        }
    });
</script>
